[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
babel = "*"
flake8 = "*"
mock = "*"
requests = "*"
tox = "*"
twine = "*"
black = "*"
pre-commit = "*"
"e1839a8" = {editable = true, path = "."}

[packages]
pytest = "*"
"tap.py" = "*"
