[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
babel = "*"
flake8 = "*"
mock = "*"
requests = "*"
tox = "*"
twine = "*"
black = "*"
pre-commit = "*"

[packages]
pytest = "*"
"tap.py" = "*"
